<p>task works!</p>
<form [formGroup]="taskform">
    <fieldset style="width: fit-content;"><legend>Task Form</legend>
        <table>
            <tr>
                <td><label for="name">Enter name: </label></td>
                <td><input type="text" formControlName="name" id="name" name="name" placeholder="Enter valid name.."></td>
            </tr>
            <ng-container *ngIf="name?.invalid && name?.touched">
                <tr *ngIf="name?.hasError('required')">
                    <td>Please enter the name..</td>
                </tr>
                <tr *ngIf="name?.hasError('pattern')">
                    <td>Match the pattern<br>1st letter capital<br>No numbers<br>No Space</td>
                </tr>
            </ng-container>

            <tr>
                <td><label for="email">Enter email: </label></td>
                <td><input type="email" formControlName="email" id="email" name="email" placeholder="Valid email.."></td>
            </tr>
             <ng-container *ngIf="email?.invalid && email?.touched">
                <tr *ngIf="email?.hasError('required')">
                    <td>Please enter the Email..</td>
                </tr>
                <tr *ngIf="email?.hasError('pattern')">
                    <td>Match the pattern<br>2 special character<br>4 numbers<br>24 characters</td>
                </tr>
            </ng-container>



            <tr>
                <td><label for="gender">Enter Gender: </label></td>
                <td><input type="radio" value="Male" id="gender" name="gender" formControlName="gender">Male</td>
                <td><input type="radio" value="Female" id="gender" name="gender" formControlName="gender">Female</td>
            </tr>

            <tr>
                <td><label for="color">Choose color: </label></td>
                <td><input type="color" id="color" name="color" formControlName="color"></td>
            </tr>

            <tr>
                <td><label for="mobile">Enter Mobile:</label></td>
                <td><input type="tel" id="mobile" name="mobile" formControlName="mobile"></td>
            </tr>

            <tr>
                <td>Courses : </td>
                <div formArrayName="courses">
                    <div *ngFor="let controls of courses.controls; let i=index">
                        <td><input type="checkbox" [formControlName]="i">{{courseList[i]}}</td>
                    </div>
                </div>
            </tr>



            <tr>
                <td><label for="pwd">Enter passsword: </label></td>
                <td><input type="password" formControlName="pwd" id="pwd" name="pwd"></td>
            </tr>
            <ng-container *ngIf="pwd?.invalid && pwd?.touched">
                <tr *ngIf="pwd?.hasError('required')">
                    <td>Enter the passwrd</td>
                </tr>
                <tr *ngIf="pwd?.hasError('pattern')">
                    <td>Match the pattern<br>14 character<br>number, special characters, characters allowed</td>
                </tr>
            </ng-container>

            <tr>
                <td><label for="cpwd">Re-Type password: </label></td>
                <td><input type="password" formControlName="cpwd" id="cpwd" name="cpwd"></td>
            </tr>
            <ng-container *ngIf="cpwd?.touched && cpwd?.value && cpwd?.value!==pwd?.value">
                <tr>
                    <td>Passowrd does not match</td>
                </tr>
            </ng-container>

            <tr>
                <td colspan="2"><label for="agree">accept the Terms and Conditions: </label></td>
                <td><input type="checkbox" id="agree" name="agree" formControlName="agree"></td>
            </tr>
            
            <tr>
                <td colspan="2">
                    <button type="button" (click)="submit()">Submit</button>
                </td>
            </tr>
        </table>
    </fieldset>
</form>
<hr>


<table border="2">
    <tr>
        <td>Name</td>
        <td>Email</td>
        <td>Gender</td>
        <td>Color</td>
        <td>Mobile</td>
        <td>Courses</td>
        <td>Password</td>
        <td>Confirm Password</td>
        <td>Agreed</td>
        <td colspan="2">Actions</td>
    </tr>
    <tr *ngFor="let student of students">
        <td>{{student.name}}</td>
        <td>{{student.email}}</td>
        <td>{{student.gender}}</td>
        <td><div
                style="width:30px;height:30px;border-radius:50%;"
                [style.background]="student.color">
        </div></td>
        <td>{{student.mobile}}</td>
        <td><span *ngFor="let selected of student.courses let i=index">
            <ng-container *ngIf="selected">
                {{courseList[i]}},
            </ng-container>
        </span></td>
        <td>{{student.pwd}}</td>
        <td>{{student.cpwd}}</td>
        <td>{{student.agree}}</td>
        <td><button type="button" (click)="edit(student)">Edit</button></td>
        <td><button type="button" (click)="delete(student.id)">Delete</button></td>
    </tr>
</table>

