<h1>{{name}}</h1>

<input type="text" [value]="name">
<button [disabled]="ang">submit</button>



<input type="text"  [(ngModel)]="name">


<br>
<br>

<label>{{fNameLabel }}</label>
<input type="text"  [(ngModel)]="fNameInput">
<br><br>

<label>{{emailLabel}}</label>
<input type="email" [(ngModel)] = "emailInput">
<br><br>

<button (click)="a()">Display</button>

<h2>the count : {{count}}</h2>
<button (click)="add()">Add</button>
<button (click)="sub()">Sub</button>
<button (click)="reset()">Reset</button>
<br><br>

<input type="text" [(ngModel)]="string">
<h3>The length : {{length}}</h3>

<dl>
  <dt>px</dt>
  <dd>Pixel is the unit of measurment, does not relate to any parent or root</dd>
  <dt>%</dt>
  <dd>Relative unit, where the size will be regarding to the parent element</dd>
  <dt>em</dt>
  <dd>Relative unit based on the font size of the parent element</dd>
  <dt>rem</dt>
  <dd>Relative unit based on the font size of the root element, not parent</dd>
  <dt>vw</dt>
  <dd>Viewport width, relative unit represents the browser's window's width</dd>
</dl>