<h1>{{name}}</h1>

<input type="text" [value]="name">
<button [disabled]="ang">submit</button>



<input type="text"  [(ngModel)]="name">


<br>
<br>

<label>{{fNameLabel }}</label>
<input type="text"  [(ngModel)]="fNameInput">
<br><br>

<label>{{emailLabel}}</label>
<input type="email" [(ngModel)] = "emailInput">
<br><br>

<button (click)="a()">Display</button>

<h2>the count : {{count}}</h2>
<button (click)="add()">Add</button>
<button (click)="sub()">Sub</button>
<button (click)="reset()">Reset</button>
<br><br>

<input type="text" [(ngModel)]="string">
<h3>The length : {{length}}</h3>

<dl>
  <dt>px</dt>
  <dd>Pixel is the unit of measurment, does not relate to any parent or root</dd>
  <dt>%</dt>
  <dd>Relative unit, where the size will be regarding to the parent element</dd>
  <dt>em</dt>
  <dd>Relative unit based on the font size of the parent element</dd>
  <dt>rem</dt>
  <dd>Relative unit based on the font size of the root element, not parent</dd>
  <dt>vw</dt>
  <dd>Viewport width, relative unit represents the browser's window's width</dd>
</dl>


<h1>{{StudentProfileTitle}}</h1>
<h3>Name : {{userName}}</h3>
<h3>Age : {{userAge}}</h3>
<h3>Department : {{userDepartment}}</h3>
<h3>CGPA : {{userCgpa}}</h3>
<h3>status : {{userCgpa > 5.0 ? "Pass" : "Fail"}}</h3>
<h3>College : {{userCollege}}</h3>

<img [src] = "imageUrl"; [alt] = "altString">

<h2 *ngIf="userCgpa>5.5">
  pass
</h2>

<div *ngIf="userCgpa>5.5; else fail">
  candiate pass
</div>
<ng-template #fail>
  candiate fail
</ng-template>

<h2 *ngFor="let i of arr">{{i}}</h2>

<div *ngFor="let stud of students">
  <h1>{{stud.name}}</h1>
  <h2>{{stud.age}}</h2>
</div>

<div [ngSwitch]="status">
  <p *ngSwitchCase="'pending'">Pending</p>

  <p *ngSwitchCase="'success'">Sucess</p>

  <p *ngSwitchCase="'failure'">Failure</p>

</div>

<button [ngClass]="isAdmin? 'adminBtn' : 'guestBtn'">
  login
</button>

<h2 [ngClass]="{
  pass: userCgpa >= 5,
  fail : userCgpa < 5
}">
{{userCgpa}}
</h2>

<h3 [ngClass]="['btn', 'round', 'border']">Array ngClass</h3>

<h3 [ngStyle]="{
  'color' : userCgpa>5 ? 'green' : 'red' 
}">{{userCgpa}}</h3>