.pass{
    color:green;
}
.fail{
    color:red;
}

.btn{
    color: blue;
}
.round{
    border-radius: 20px;
}
.border{
    border: 2px solid violet;
}
.active{
    color: red;
    font-weight: bold;
}